<div id="content" role="main">
  <section class="container colset-2-its">
    <h1 style="text-align:center;">Welcome to Grails</h1>

    <p>
      Congratulations, you have successfully started your first Grails application! At the moment
      this is the default page, feel free to modify it to either redirect to a controller or display
      whatever content you may choose. Below is a list of controllers that are currently deployed in
      this application, click on each to execute its default action:
    </p>


  </section>
</div>
